.scroll-top {
    position: fixed;
    bottom: 2em;
    right: 4em;
    background-color: transparent;

    z-index: 5;
  }
  
  @media (max-width: 900px) {
    .scroll-top {
      display: none;
    }
  }